<div ng-controller="newController">
    <div class="row">

        <div ng-repeat="team in teams">
        <div ng-repeat="te in team.squads | filter:name">
        <h2 class="center">{{te.name}}</h2>
        <div class="col s12">
            <div class="right hide-on-med-and-down" ng-repeat="club in te.clubs">
                <button id="btn-std" class="waves-effect green darken-2 btn-large"><a style="color:white" href="#clubs/{{te.name}}/{{club.category}}">{{club.category}}</a></button>
            </div>
        </div>

            <div class="col s6">
            <img ng-src="{{te.shield}}" width="40%" height="60%" class="center-align">
            </div>
        </div>   
        </div>
    
        <div class="col s6" ng-repeat="team in teams">
        <div ng-repeat="te in team.squads | filter:{name:name}">
            <article>
                <h4>{{te.name}}</h4>
                <ul>
                    <li><strong>Dirección: </strong>{{te.address}}</li>
                    <li><strong>Teléfono: </strong>{{te.phone}}</li>
                    <li><strong>Correo electrónico: </strong>{{te.email}}</li>
                    <li><strong>Estadio: </strong>{{te.stadium}}</li>
                    <ul>
                        <h5>Equipación</h5>
                        <li><strong>Camiseta: </strong>{{te.uniform[0].shirt}}</li>
                        <li><strong>Pantalones: </strong>{{te.uniform[0].pants}}</li>
                        <li><strong>Medias: </strong>{{te.uniform[0].socks}}</li>
                    </ul>
                </ul>
            </article>
        </div>
    </div>
</div>