<div ng-controller="dateController">
  <div ng-repeat="calendar in calendario | filter:{Jornada:'1'}">
  <h2>Jornada {{calendar.Jornada}}</h2>  
  <div ng-repeat="partido in calendar.Amateur">


    <p>{{partido.match[0]}} - {{partido.match[1]}} <strong>Fecha: </strong>{{partido.date | date:'dd/MMMM/yyyy - HH:mm'}}</p>
    </div>
    </div>

<div ng-controller="teams">
<div ng-repeat="team in teams">
    <div ng-repeat="te in team.clubs | filter: {category:'Amateur'}">
    <!-- <p>{{team.stadium}}</p> -->


 </div>
  </div>
</div>




 <!-- | filter: {match: match[0]} -->