<footer class="page-footer green darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sígueme en:</h5>
                <ul>
                    <li><a class="grey-text text-lighten-4" href="https://es.linkedin.com/in/danielortegodelgado"> LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-4" href="https://github.com/ortego88/">Github</a></li>
                </ul>
            </div>    
        </div>
    </div>
    
    <div class="footer-copyright">
        <div class="container">
            <strong>Realizado por Daniel Ortego - 2016</strong>
        </div>
    </div>
</footer>