<article ng-controller="sliderController">
<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="img/stadiums/stadium1.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/stadiums/stadium2.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/stadiums/stadium3.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/stadiums/stadium4.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/stadiums/stadium5.jpg"> <!-- random image -->
      </li>
    </ul>
  </div>
</article>