<div ng-controller="newController">
    <div class="row">
        <div class="col s9">

            <div ng-repeat="team in teams">
                <div ng-repeat="te in team.squads | filter:name">
                    <div ng-repeat="club in te.clubs | filter:category">
                        <h2 class="center">{{te.name}} ({{club.category}})</h2>
                        <section class="pitch">
                            <article>
                                <div class="field left">
                                    <div class="penalty-area">
                                    </div>
                                </div>
                                <div class="field right">
                                    <div class="penalty-area">
                                    </div>
                                </div>
                                <div class="center-circle"></div>
                                <div class="home-team">
                                    <strong><div class="player one">1.{{club.names[0]}}</div>
                                    <div class="player two">2.{{club.names[1]}}</div>
                                    <div class="player three">3.{{club.names[2]}}</div>
                                    <div class="player four">4.{{club.names[3]}}</div>
                                    <div class="player five">5.{{club.names[4]}}</div>
                                    <div class="player six">6.{{club.names[5]}}</div>
                                    <div class="player seven">7.{{club.names[6]}}</div>
                                    <div class="player eight">8.{{club.names[7]}}</div>
                                    <div class="player nine">9.{{club.names[8]}}</div>
                                    <div class="player ten">10.{{club.names[9]}}</div>
                                    <div class="player eleven">11.{{club.names[10]}}</div></strong>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s3 right hide-on-med-and-down" ng-repeat="team in teams">
            <div ng-repeat="te in team.squads | filter:{name:name}">
                <article ng-repeat="club in te.clubs | filter:category">
                    <ul>
                        <li><img src="img/player1.png" width="30px" height="30px"> {{club.names[0]}}</li>
                        <li><img src="img/player2.png" width="30px" height="30px"> {{club.names[1]}}</li>
                        <li><img src="img/player3.png" width="30px" height="30px"> {{club.names[2]}}</li>
                        <li><img src="img/player4.png" width="30px" height="30px"> {{club.names[3]}}</li>
                        <li><img src="img/player5.png" width="30px" height="30px"> {{club.names[4]}}</li>
                        <li><img src="img/player6.png" width="30px" height="30px"> {{club.names[5]}}</li>
                        <li><img src="img/player7.png" width="30px" height="30px"> {{club.names[6]}}</li>
                        <li><img src="img/player8.png" width="30px" height="30px"> {{club.names[7]}}</li>
                        <li><img src="img/player9.png" width="30px" height="30px"> {{club.names[8]}}</li>
                        <li><img src="img/player10.png" width="30px" height="30px"> {{club.names[9]}}</li>
                        <li><img src="img/player11.png" width="30px" height="30px"> {{club.names[10]}}</li>
                        <p>
                            <strong>Reservas:</strong>
                        </p>
                        <li>12. {{club.names[12]}}</li>
                        <li>13. {{club.names[11]}}</li>
                        <li>14. {{club.names[13]}}</li>
                        <li>15. {{club.names[14]}}</li>
                        <li>16. {{club.names[15]}}</li>
                    </ul>
                </article>
            </div>
        </div>

        <div ng-repeat="team in teams">
            <div ng-repeat="te in team.squads | filter:name">
                <ul class="left hide-on-med-and-down" ng-repeat="club in te.clubs">
                    <li>
                        <button id="btn-std" class="waves-effect green darken-2 btn-large"><a style="color:white" href="#clubs/{{te.name}}/{{club.category}}">{{club.category}}</a></button>
                    </li>
                </ul>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div> 
</div>